
$primary-color:#ffa502;
$secondary-color:#2f3542;
$app-color:#f1f2f6;
$app-font:Rubik, sans-serif;

.example-spacer{
  flex: 1 1 auto;
}
.menu-icon-items{
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-toolbar{
  padding: 40px 0;
  background-color: $secondary-color;
  position: sticky;
  top: 0;
  z-index: 100;

  button{
    color: $primary-color;

    &:hover{
      color: $primary-color;

    }
  }

  .active-link{
    background-color:$primary-color!important;
    color: $secondary-color!important;
  }
}
