<div class="contact-outer">
  <div class="contact-inner">
    <div class="contact-landing">
      <h1 class="text-center">Contact Me</h1>
    </div>
  </div>
  <div class="contact-details-outer">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-4 contact-items">
          <div class="contact-item-inner">
            <div class="mobile">
              <mat-icon>phone</mat-icon>
              +94766308272
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4 contact-items">
          <div class="contact-item-inner">
            <div class="email">
              <mat-icon>email</mat-icon>
              tasheelajay1999@gmail.com</div>
          </div>

        </div>
        <div class="col-12 col-lg-4 contact-items">
          <div class="contact-item-inner">
            <div class="address">
              <mat-icon>place</mat-icon>
              Matale, SriLanka</div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="map-area">
    <div class="map-area-inner">
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-6 contact-form">
            <div class="form">
              <form class="example-form">
                <h2>Contact Form</h2>
                <mat-form-field class="w-100">
                  <mat-label>Name</mat-label>
                  <input matInput placeholder="Name">
                </mat-form-field>

                <mat-form-field class="w-100">
                  <mat-label>Email</mat-label>
                  <input matInput placeholder="Email">
                </mat-form-field>

                <mat-form-field class="w-100">
                  <mat-label>Message</mat-label>
                  <textarea matInput placeholder="Message" rows="6"></textarea>
                </mat-form-field>


                <button mat-raised-button class="send-message-btn">Send Message</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
