<div class="container">
  <div class="row">
    <div class="col-12 col-lg-6 about-left d-flex align-items-center justify-content-center">
      <img src="assets/images/my-logo.png" alt="My-Logo">
    </div>
    <div class="col-12 col-lg-6 about-right">
      <h1 class="title">About me</h1>
      <h3 class="my-jobs">
        Web Developer | Software Developer | UI/UX Developer
      </h3>
      <p class="my-self">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores atque debitis doloremque eaque
        expedita illo illum in ipsam iste laboriosam maxime nobis perspiciatis quasi quia quisquam, quos
        recusandae repudiandae sint suscipit voluptate. Ab, at consectetur est et fugiat laudantium maxime
        possimus quae quis recusandae repudiandae sapiente sequi tempore tenetur ut.
      </p>
      <div class="social-profiles">
        <i class="fa-brands fa-facebook-f"></i>
        <i class="fa-brands fa-linkedin-in"></i>
        <i class="fa-brands fa-github"></i>
      </div>
    </div>
  </div>
</div>
