<div class="landing-page-outer">
  <div class="landing-page-inner">
    <div class="landing-section">
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-6 left">
            <div class="inner-item">
              <h2 class="greeting">Hello, I'm</h2>
              <h1 class="name">
                <span class="large-text">T</span>asheela

                <span class="large-text">J</span>ayawickrma
              </h1>
              <p class="description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa
                dolorum quidem accusantium deleniti autem inventore maiores
                dolore cumque, consequuntur asperiores perferendis possimus,
                doloribus molestias non rem architecto, earum quibusdam.
                Sapiente.
              </p>

              <div class="button-area">
                <button mat-raised-button class="contact-btn">
                  Contact Me
                  <mat-icon>phone</mat-icon>
                </button>
                <button mat-stroked-button class="download-btn">
                  Download CV
                  <mat-icon>download</mat-icon>
                </button>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6 right"></div>
        </div>
      </div>
    </div>
  </div>
</div>
